@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:regular,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:regular,700,italic&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #7e7e7e;
  line-height: 1;
  font-family: "Nunito Sans";
  font-size: .9375rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Nunito Sans";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #f4f3ec
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,.6);
  opacity: 0;
  transition: opacity .3s ease 0s
}
.header.scroll::before {
  opacity: 1
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.25rem;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  min-height: 6.875rem
}
.header__logo {
  position: relative;
  z-index: 5;
  flex: 0 0 174px
}
.header__logo img {
  max-width: 100%
}
.menu {
  display: flex;
  align-content: center
}
.menu__list {
  position: relative;
  z-index: 50
}
.menu__item {
  text-align: center
}
.menu__link {
  position: relative;
  color: #696969;
  font-size: 1.125rem;
  font-family: "Libre Baskerville";
  transition: .3s color
}
.menu__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 1.5px;
  background-color: #333;
  transition: width .35s
}
.menu__link:hover:before {
  width: 100%
}
.menu__link._navigator-active {
  cursor: default;
  color: #333
}
.menu__link._navigator-active:before {
  width: 100%
}
.icon-menu {
  display: none
}
.footer {
  background-color: #f4f3ec;
  padding-bottom: 1.875rem;
  padding-top: 1.25rem
}
.footer__socials:not(:last-child) {
  margin-bottom: 2.5rem
}
.socials-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .625rem
}
.socials-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: .0625rem solid #ababab;
  border-radius: 50%;
  padding: .75rem;
  transition: all .3s
}
.socials-footer__link:hover {
  background-color: #fff;
  border: .0625rem solid #fff
}
.socials-footer__link img {
  max-width: 100%;
  height: .9375rem;
  flex: 0 0 .9375rem;
  display: flex;
  align-self: flex-start
}
.copy-footer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1.125rem;
  font-family: "Libre Baskerville";
  color: #7e7e7e;
  line-height: 1.7333333333
}
.copy-footer a {
  transition: color ease .3s
}
.copy-footer a:hover {
  color: #cf2e2e
}
.about__container {
  display: flex;
  justify-content: space-between;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  row-gap: 3.125rem
}
.about__image {
  position: relative
}
.about__image img {
  max-width: 100%;
  position: relative;
  z-index: 2
}
.about__image::before {
  content: "";
  opacity: .4;
  position: absolute;
  top: 1.875rem;
  left: -2.5rem;
  width: calc(100% - 30px);
  height: 100%;
  background: repeating-linear-gradient(45deg,#ccc,#ccc 2px,transparent 2px,transparent 10px)
}
.about__text {
  line-height: 1.7333333333
}
.about__text p:not(:last-child) {
  margin-bottom: 1.875rem
}
.about__text:not(:last-child) {
  margin-bottom: 2.5rem
}
.about__signature:not(:last-child) {
  margin-bottom: 2.1875rem
}
.about__name {
  font-size: 1.125rem;
  line-height: 1.6111111111;
  color: #333;
  font-family: "Libre Baskerville"
}
.about__name:not(:last-child) {
  margin-bottom: 1.25rem
}
.about__label {
  line-height: 1.7333333333
}
.blockquote {
  background: #f4f3ec url(../img/blockquote/background.jpg) no-repeat center center;
  background-size: cover
}
.blockquote__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.blockquote__image {
  align-self: center;
  flex: 0 0 2.5rem;
  height: 2.5rem
}
.blockquote__text {
  font-family: "Libre Baskerville";
  font-style: italic;
  color: #333;
  line-height: 2;
  text-align: center;
  max-width: 50rem
}
.blockquote__info {
  color: #333;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: .6875rem
}
.blockquote__name {
  font-family: "Libre Baskerville";
  font-size: 1.125rem;
  line-height: 1.6666666667;
  text-transform: uppercase;
  font-weight: 700
}
.blockquote__job {
  line-height: 1.625
}
.books__container {
  display: flex;
  justify-content: space-between;
  -webkit-column-gap: 3.75rem;
  -moz-column-gap: 3.75rem;
  column-gap: 3.75rem;
  row-gap: 2.5rem
}
.books__image {
  flex: 0 1 30%;
  display: grid;
  justify-content: center
}
.books__image img {
  max-width: 100%;
  position: relative;
  z-index: 2
}
.books__content {
  flex: 0 1 70%;
  align-self: center;
  display: grid;
  justify-content: center
}
.books__title {
  font-family: "Libre Baskerville";
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 700;
  color: #333;
  text-transform: uppercase
}
.books__title:not(:last-child) {
  margin-bottom: 3.125rem
}
.books__text {
  max-width: 37.5rem;
  line-height: 1.7333333333
}
.books__text p:not(:last-child) {
  margin-bottom: .9375rem
}
.books__text:not(:last-child) {
  margin-bottom: 2.5rem
}
.author-info-books__name {
  font-size: 1.125rem;
  line-height: 1.6111111111;
  color: #333;
  font-family: "Libre Baskerville"
}
.author-info-books__name:not(:last-child) {
  margin-bottom: .9375rem
}
.author-info-books__label {
  line-height: 1.7333333333
}
.reviews__title {
  font-family: "Libre Baskerville";
  color: #333;
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: .9375rem
}
.reviews__title:not(:last-child) {
  margin-bottom: 3.125rem
}
.reviews__items {
  display: flex;
  flex-direction: column;
  row-gap: 1.5625rem
}
.item-reviews {
  border: .0625rem solid rgba(126,126,126,.3);
  box-shadow: .125rem .125rem .625rem rgba(126,126,126,.2);
  border-radius: .9375rem;
  padding: 1.5625rem .9375rem
}
.item-reviews__header {
  display: flex;
  -webkit-column-gap: .3125rem;
  -moz-column-gap: .3125rem;
  column-gap: .3125rem;
  row-gap: .9375rem
}
.item-reviews__header:not(:last-child) {
  margin-bottom: .9375rem
}
.item-reviews__stars {
  padding-top: .3125rem
}
.item-reviews__caption {
  font-size: 1.125rem;
  line-height: 1.6111111111;
  color: #333;
  font-family: "Libre Baskerville";
  max-width: 50rem
}
.item-reviews__text {
  line-height: 1.7333333333
}
.item-reviews__text:not(:last-child) {
  margin-bottom: .9375rem
}
.item-reviews__author {
  color: #333;
  padding-left: .625rem;
  line-height: 1.7333333333;
  font-weight: 600
}
.contacts {
  background-color: #f4f3ec
}
.form-contacts {
  border: .3125rem solid #f8f8f8;
  background-color: #fff;
  display: flex;
  align-items: center;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  row-gap: 1.25rem
}
.form-contacts__content {
  flex: 0 1 50%
}
.form-contacts__title {
  text-align: center;
  font-size: 2.125rem;
  color: #333;
  font-family: "Libre Baskerville"
}
.form-contacts__title:not(:last-child) {
  margin-bottom: .9375rem
}
.form-contacts__subtitle {
  text-align: center
}
.form-contacts__actions {
  display: flex
}
.form-contacts__input {
  max-width: 100%;
  padding-right: 1.25rem;
  padding-left: .625rem;
  text-align: center;
  font-size: 1.125rem;
  line-height: 2.5555555556;
  font-family: "Libre Baskerville";
  color: #333;
  border-bottom: .125rem solid #ccc;
  transition: border-bottom ease .3s
}
.form-contacts__input::-webkit-input-placeholder {
  color: #ccc
}
.form-contacts__input:-ms-input-placeholder {
  color: #ccc
}
.form-contacts__input::-ms-input-placeholder {
  color: #ccc
}
.form-contacts__input::placeholder {
  color: #ccc
}
.form-contacts__input:active,
.form-contacts__input:focus,
.form-contacts__input:hover {
  outline: 0;
  outline-offset: 0
}
.form-contacts__input:focus {
  border-bottom: .125rem solid #cf2e2e
}
.form-contacts__button {
  color: #333;
  position: relative;
  right: .9375rem;
  font-size: 1.125rem;
  transition: color ease .3s
}
.form-contacts__button:hover {
  color: #cf2e2e
}
.form-contacts__media {
  flex: 0 1 50%;
  display: flex;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem;
  justify-content: space-between;
  align-items: center
}
.form-contacts__image img {
  max-width: 100%
}
.digits-contacts {
  display: flex;
  justify-content: space-between;
  row-gap: 1.5625rem;
  flex-wrap: wrap;
  text-align: center;
  align-items: center
}
.digits-contacts__item {
  display: flex;
  flex-direction: column;
  align-items: center
}
.digits-contacts__value {
  font-family: "Libre Baskerville";
  line-height: 1.3035714286
}
.digits-contacts__caption {
  text-transform: uppercase;
  font-weight: 600
}
.about__name,
.blockquote__text,
.books__title,
.reviews__item {
  -webkit-transform: translate(0,1.875rem);
  transform: translate(0,1.875rem);
  opacity: 0;
  transition: all 1.8s
}
._watcher-view .about__name,
._watcher-view .blockquote__text,
._watcher-view .books__title,
._watcher-view .reviews__item {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
@media (min-width:47.99875em) {
  .menu__list {
    display: flex;
    flex-wrap: wrap;
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem;
    row-gap: .9375rem;
    align-items: center;
    justify-content: flex-end
  }
  .copy-footer :not(:last-child)::after {
    content: "|";
    padding-left: .75rem
  }
  .about__media {
    flex: 0 1 50%;
    display: grid;
    justify-content: center;
    align-items: self-start
  }
  .about__content {
    flex: 0 1 50%;
    align-self: center
  }
}
@media (min-width:76.875em) {
  .header__container {
    padding-top: 1.875rem
  }
  .page__about {
    padding-top: 11.25rem
  }
  .page__about {
    margin-bottom: 6.25rem
  }
  .page__blockquote {
    margin-top: 6.25rem
  }
  .page__blockquote {
    margin-bottom: 6.25rem
  }
  .page__books {
    padding-top: 6.25rem
  }
  .page__books {
    padding-bottom: 6.25rem
  }
  .page__reviews {
    margin-top: 6.25rem
  }
  .page__reviews {
    margin-bottom: 5rem
  }
  .page__contacts {
    margin-top: 5rem
  }
  .blockquote {
    padding-top: 8.625rem
  }
  .blockquote {
    padding-bottom: 10.75rem
  }
  .blockquote__image:not(:last-child) {
    margin-bottom: 4.0625rem
  }
  .blockquote__text {
    font-size: 1.5rem
  }
  .blockquote__text:not(:last-child) {
    margin-bottom: 4.375rem
  }
  .contacts {
    padding-top: 6.25rem
  }
  .contacts {
    padding-bottom: 5rem
  }
  .contacts__form:not(:last-child) {
    margin-bottom: 5rem
  }
  .form-contacts {
    padding-top: 2.8125rem
  }
  .form-contacts {
    padding-bottom: 2.8125rem
  }
  .form-contacts {
    padding-right: 5.625rem
  }
  .form-contacts {
    padding-left: 5.625rem
  }
  .form-contacts__subtitle:not(:last-child) {
    margin-bottom: 3.4375rem
  }
  .digits-contacts {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
  .digits-contacts__value {
    font-size: 3.5rem
  }
}
@media (max-width:20em) {
  .header__container {
    padding-top: .625rem
  }
  .page__about {
    padding-top: 5.625rem
  }
  .page__about {
    margin-bottom: 3.125rem
  }
  .page__blockquote {
    margin-top: 3.125rem
  }
  .page__blockquote {
    margin-bottom: 3.125rem
  }
  .page__books {
    padding-top: 1.875rem
  }
  .page__books {
    padding-bottom: 3.125rem
  }
  .page__reviews {
    margin-top: 3.125rem
  }
  .page__reviews {
    margin-bottom: 1.875rem
  }
  .page__contacts {
    margin-top: .625rem
  }
  .blockquote {
    padding-top: 3.75rem
  }
  .blockquote {
    padding-bottom: 4.375rem
  }
  .blockquote__image:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .blockquote__text {
    font-size: 1.125rem
  }
  .blockquote__text:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .contacts {
    padding-top: 3.125rem
  }
  .contacts {
    padding-bottom: 2.5rem
  }
  .contacts__form:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .form-contacts {
    padding-top: 1.25rem
  }
  .form-contacts {
    padding-bottom: 1.25rem
  }
  .form-contacts {
    padding-right: 1.875rem
  }
  .form-contacts {
    padding-left: 1.875rem
  }
  .form-contacts__subtitle:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .digits-contacts {
    -webkit-column-gap: 1.5625rem;
    -moz-column-gap: 1.5625rem;
    column-gap: 1.5625rem
  }
  .digits-contacts__value {
    font-size: 1.5rem
  }
}
@media (max-width:47.99875em) {
  .header__container {
    justify-content: space-between;
    min-height: 4.375rem
  }
  .header__logo {
    flex: 0 0 140px
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #f4f3ec;
    padding: 8.75rem .9375rem 1.875rem .9375rem;
    transition: left .3s ease 0s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 6.875rem;
    background-color: #f4f3ec;
    z-index: 10
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__item:not(:last-child) {
    margin-bottom: 2rem
  }
  .menu__link {
    font-size: 2rem;
    font-weight: 500
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.25rem;
    flex: 0 0 1.875rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #333
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .copy-footer {
    flex-direction: column
  }
  .about__container {
    flex-direction: column;
    align-items: center
  }
  .about__content {
    max-width: 31.25rem
  }
  .books__container {
    flex-direction: column-reverse
  }
  .reviews__title {
    text-align: center
  }
  .item-reviews__header {
    flex-direction: column;
    text-align: center
  }
  .item-reviews__stars {
    text-align: center
  }
  .item-reviews__caption {
    text-align: center
  }
  .item-reviews__text {
    text-align: center
  }
  .item-reviews__author {
    padding-left: 0;
    text-align: center
  }
  .form-contacts {
    flex-direction: column
  }
  .digits-contacts {
    justify-content: center
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (min-width:20em) and (max-width:76.875em) {
  @supports (padding-top:clamp(0.625rem ,0.1854395604rem + 2.1978021978vw ,1.875rem)) {
    .header__container {
      padding-top: clamp(.625rem ,.1854395604rem + 2.1978021978vw ,1.875rem)
    }
  }
  @supports not (padding-top:clamp(0.625rem ,0.1854395604rem + 2.1978021978vw ,1.875rem)) {
    .header__container {
      padding-top: calc(.625rem + 1.25 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(5.625rem ,3.646978022rem + 9.8901098901vw ,11.25rem)) {
    .page__about {
      padding-top: clamp(5.625rem ,3.646978022rem + 9.8901098901vw ,11.25rem)
    }
  }
  @supports not (padding-top:clamp(5.625rem ,3.646978022rem + 9.8901098901vw ,11.25rem)) {
    .page__about {
      padding-top: calc(5.625rem + 5.625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .page__about {
      margin-bottom: clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .page__about {
      margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-top:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .page__blockquote {
      margin-top: clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)
    }
  }
  @supports not (margin-top:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .page__blockquote {
      margin-top: calc(3.125rem + 3.125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .page__blockquote {
      margin-bottom: clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .page__blockquote {
      margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(1.875rem ,0.3365384615rem + 7.6923076923vw ,6.25rem)) {
    .page__books {
      padding-top: clamp(1.875rem ,.3365384615rem + 7.6923076923vw ,6.25rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,0.3365384615rem + 7.6923076923vw ,6.25rem)) {
    .page__books {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .page__books {
      padding-bottom: clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .page__books {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-top:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .page__reviews {
      margin-top: clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)
    }
  }
  @supports not (margin-top:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .page__reviews {
      margin-top: calc(3.125rem + 3.125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,0.7760989011rem + 5.4945054945vw ,5rem)) {
    .page__reviews {
      margin-bottom: clamp(1.875rem ,.7760989011rem + 5.4945054945vw ,5rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,0.7760989011rem + 5.4945054945vw ,5rem)) {
    .page__reviews {
      margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-top:clamp(0.625rem ,-0.9134615385rem + 7.6923076923vw ,5rem)) {
    .page__contacts {
      margin-top: clamp(.625rem ,-.9134615385rem + 7.6923076923vw ,5rem)
    }
  }
  @supports not (margin-top:clamp(0.625rem ,-0.9134615385rem + 7.6923076923vw ,5rem)) {
    .page__contacts {
      margin-top: calc(.625rem + 4.375 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(3.75rem ,2.0357142857rem + 8.5714285714vw ,8.625rem)) {
    .blockquote {
      padding-top: clamp(3.75rem ,2.0357142857rem + 8.5714285714vw ,8.625rem)
    }
  }
  @supports not (padding-top:clamp(3.75rem ,2.0357142857rem + 8.5714285714vw ,8.625rem)) {
    .blockquote {
      padding-top: calc(3.75rem + 4.875 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(4.375rem ,2.1332417582rem + 11.2087912088vw ,10.75rem)) {
    .blockquote {
      padding-bottom: clamp(4.375rem ,2.1332417582rem + 11.2087912088vw ,10.75rem)
    }
  }
  @supports not (padding-bottom:clamp(4.375rem ,2.1332417582rem + 11.2087912088vw ,10.75rem)) {
    .blockquote {
      padding-bottom: calc(4.375rem + 6.375 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(1.5625rem ,0.6833791209rem + 4.3956043956vw ,4.0625rem)) {
    .blockquote__image:not(:last-child) {
      margin-bottom: clamp(1.5625rem ,.6833791209rem + 4.3956043956vw ,4.0625rem)
    }
  }
  @supports not (margin-bottom:clamp(1.5625rem ,0.6833791209rem + 4.3956043956vw ,4.0625rem)) {
    .blockquote__image:not(:last-child) {
      margin-bottom: calc(1.5625rem + 2.5 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.9931318681rem + 0.6593406593vw ,1.5rem)) {
    .blockquote__text {
      font-size: clamp(1.125rem ,.9931318681rem + .6593406593vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.9931318681rem + 0.6593406593vw ,1.5rem)) {
    .blockquote__text {
      font-size: calc(1.125rem + .375 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,0.9958791209rem + 4.3956043956vw ,4.375rem)) {
    .blockquote__text:not(:last-child) {
      margin-bottom: clamp(1.875rem ,.9958791209rem + 4.3956043956vw ,4.375rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,0.9958791209rem + 4.3956043956vw ,4.375rem)) {
    .blockquote__text:not(:last-child) {
      margin-bottom: calc(1.875rem + 2.5 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .contacts {
      padding-top: clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .contacts {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,1.6208791209rem + 4.3956043956vw ,5rem)) {
    .contacts {
      padding-bottom: clamp(2.5rem ,1.6208791209rem + 4.3956043956vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,1.6208791209rem + 4.3956043956vw ,5rem)) {
    .contacts {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,1.6208791209rem + 4.3956043956vw ,5rem)) {
    .contacts__form:not(:last-child) {
      margin-bottom: clamp(2.5rem ,1.6208791209rem + 4.3956043956vw ,5rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,1.6208791209rem + 4.3956043956vw ,5rem)) {
    .contacts__form:not(:last-child) {
      margin-bottom: calc(2.5rem + 2.5 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.7005494505rem + 2.7472527473vw ,2.8125rem)) {
    .form-contacts {
      padding-top: clamp(1.25rem ,.7005494505rem + 2.7472527473vw ,2.8125rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.7005494505rem + 2.7472527473vw ,2.8125rem)) {
    .form-contacts {
      padding-top: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.7005494505rem + 2.7472527473vw ,2.8125rem)) {
    .form-contacts {
      padding-bottom: clamp(1.25rem ,.7005494505rem + 2.7472527473vw ,2.8125rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.7005494505rem + 2.7472527473vw ,2.8125rem)) {
    .form-contacts {
      padding-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-right:clamp(1.875rem ,0.5563186813rem + 6.5934065934vw ,5.625rem)) {
    .form-contacts {
      padding-right: clamp(1.875rem ,.5563186813rem + 6.5934065934vw ,5.625rem)
    }
  }
  @supports not (padding-right:clamp(1.875rem ,0.5563186813rem + 6.5934065934vw ,5.625rem)) {
    .form-contacts {
      padding-right: calc(1.875rem + 3.75 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-left:clamp(1.875rem ,0.5563186813rem + 6.5934065934vw ,5.625rem)) {
    .form-contacts {
      padding-left: clamp(1.875rem ,.5563186813rem + 6.5934065934vw ,5.625rem)
    }
  }
  @supports not (padding-left:clamp(1.875rem ,0.5563186813rem + 6.5934065934vw ,5.625rem)) {
    .form-contacts {
      padding-left: calc(1.875rem + 3.75 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(1.5625rem ,0.9031593407rem + 3.2967032967vw ,3.4375rem)) {
    .form-contacts__subtitle:not(:last-child) {
      margin-bottom: clamp(1.5625rem ,.9031593407rem + 3.2967032967vw ,3.4375rem)
    }
  }
  @supports not (margin-bottom:clamp(1.5625rem ,0.9031593407rem + 3.2967032967vw ,3.4375rem)) {
    .form-contacts__subtitle:not(:last-child) {
      margin-bottom: calc(1.5625rem + 1.875 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports ((-moz-column-gap:clamp(1.5625rem ,1.0130494505rem + 2.7472527473vw ,3.125rem)) or (column-gap:clamp(1.5625rem ,1.0130494505rem + 2.7472527473vw ,3.125rem))) {
    .digits-contacts {
      -webkit-column-gap: clamp(1.5625rem ,1.0130494505rem + 2.7472527473vw ,3.125rem);
      -moz-column-gap: clamp(1.5625rem ,1.0130494505rem + 2.7472527473vw ,3.125rem);
      column-gap: clamp(1.5625rem ,1.0130494505rem + 2.7472527473vw ,3.125rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.5625rem ,1.0130494505rem + 2.7472527473vw ,3.125rem)) or (column-gap:clamp(1.5625rem ,1.0130494505rem + 2.7472527473vw ,3.125rem))) {
    .digits-contacts {
      -webkit-column-gap: calc(1.5625rem + 1.5625 * (100vw - 20rem)/ 56.875);
      -moz-column-gap: calc(1.5625rem + 1.5625 * (100vw - 20rem)/ 56.875);
      column-gap: calc(1.5625rem + 1.5625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (font-size:clamp(1.5rem ,0.7967032967rem + 3.5164835165vw ,3.5rem)) {
    .digits-contacts__value {
      font-size: clamp(1.5rem ,.7967032967rem + 3.5164835165vw ,3.5rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,0.7967032967rem + 3.5164835165vw ,3.5rem)) {
    .digits-contacts__value {
      font-size: calc(1.5rem + 2 * (100vw - 20rem)/ 56.875)
    }
  }
}
@media (any-hover:hover) {
  .menu__link:hover {
    color: #333
  }
}